#student {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
#student td, #student th {
    border: 1px solid #ddd;
    padding: 8px;
}

#student {
    padding-left: 10px;
}

.form-content {
    background: #fbfbfb;
    outline: none;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
}
  
#student tr:nth-child(even){background-color: #00ffff;}
  
#student tr:hover {background-color: #ddd;}
  
#student th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #0066ff;
    color: white;
}

#submit-btn {
    background: green;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family: "Arial", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    transition: 0.25s;
    width: 153px;
}

#delete-btn {
    background: red;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family: "Arial", sans-serif;
    height: 42.3px;
    transition: 0.25s;
    margin-left: 40%;
    width: 200px;
}
.cent {
    margin-left: 30%;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}